
.title {
  font-size: 70px;
    position: absolute;
    color: burlywood;



}
.title>h1 {
    margin-bottom: 30px;
}

.button {

  margin-right: 10px;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}


