.header {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 grid-column: span 16;
 grid-row: span 2;
 background-color: bisque;
}

.title {
  font-size: 70px;
}

.button {
  margin-right: 10px;
}