@font-face {
    font-family: 'Black Han Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/black-han-sans-v8-korean-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/black-han-sans-v8-korean-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: local(''),
    url("../fonts/SDSamliphopangcheTTFOutline.ttf") format("truetype"),
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: local(''),
    url("../fonts/SDSamliphopangcheTTFBasic.ttf") format("truetype"),
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: SDSamliphopangche_Basic, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box !important;
    grid-template-columns:repeat(16, 1fr);
    grid-template-rows:repeat(8, 1fr);
    height: 100vh;
    margin: 0 auto;
    width: initial;
}

.card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em red 0 0 0 1px red;
    color: #4a4a4a;
    margin: 10px 0;
    max-width: 100%;
    position: relative;
}

.food-card {
    background-image: linear-gradient(120deg, #fdfbfb 60%, #ebedee 100%);
    border-radius: 10px;
    margin: 0 auto 30px;
    padding-bottom: 10px;
    transition-duration: 185ms;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    width: 300px;
}

.food-card:hover {
    transform: translate(0, -.5em);
}

.food-image {
    height: 100%;
    object-fit: cover;
    transition-duration: 185ms;
    transition-property: width, height;
    transition-timing-function: ease-in-out;
    width: 100%;
}

.food-image:hover {
    height: 200px;
}

.card-image:first-child img.food-image {
    border-radius: .5rem;
}

.image-box {
    align-self: flex-start;
    height: 180px;
    overflow: hidden;
    position: relative;
    width: auto;
}

.book-mark {
    align-items: center;
    border-radius: 7px;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin: 10px;
    padding: 7px;
}

.book-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f5f5f5;
    padding: 8px;
}

.store_name {
    display: flex;
    font-family: SDSamliphopangche_Basic, sans-serif;
    justify-self: flex-start;
    margin-left: 10px;
    padding: 10px;
}

.card-footer {
    display: flex;
    font-family: SDSamliphopangche_Basic, sans-serif;
    justify-content: space-between;
    margin: 5px 10px 0;
    padding: 10px;
}

.reviews {
    border-left: 1px solid #ededed;
    display: flex;
    flex-direction: column;
    margin-right: 3px;
    padding-left: 6px;
}

.reviews-count {
    margin-bottom: 5px;
}

.btn-up {
    bottom: 20px;
    position: fixed;
    right: 20px;
    width: 50px;
}

.btn-up-position {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 50px;
    justify-content: center;
    transition-duration: .25s;
    transition-property: all;
    width: 50px;
}

.btn-up-position:hover {
    background: #fff;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    top: 5px;
}

.btn-up-position > a:link {
    color: #3488ce;
}

.btn-up-position > a:visited {
    align-items: center;
    border-radius: 50%;
    color: #3488ce;
    display: flex;
    height: 60px;
    justify-content: center;
    transition-duration: .25s;
    transition-property: all;
    width: 60px;
}

.header {
    align-items: center;
    background-color: #ffebcd;
    background-image: url(../images/food1.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: 250px;
    justify-content: center;
}

.header > h1.title {
    color: #deb887;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 70px;
    margin-bottom: 0;
    text-shadow: 4px 4px 0 #8b4513;
}

div.container {
    flex-grow: 1;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: auto;
}

div.control {
    display: inline-flex;
    min-width: 200px;
    width: 300px;
}

.columns.is-max-desktop.is-mobile {
    display: flex;
    justify-content: center;
    margin: auto;
}

button.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}

div.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: unset;
}

.button.is-warning {
    background-color: #ffe08a;
    cursor: pointer;
    justify-content: center;
    margin-right: .5rem;
    text-align: center;
    white-space: nowrap;
}

.button.searchBtn {
    background-color: #f1c40f;
    border-color: transparent;
    color: rgba(0, 0, 0, .7);
}

.button {
    margin-right: 10px;
}

h2.h2 {
    font-size: x-large;
    font-weight: 500;
}

button.button.is-xs {
    background-color: #ed2f55;
    border-color: transparent;
    border-radius: 5px;
    color: #fff;
    font-size: .5rem;
    height: 23px;
    margin-left: 20px;
    margin-right: 0;
    text-align: center;
}

.bookmark {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

span.mark-menu {
    display: inline-block !important;
    height: 1rem;
    overflow: hidden;
    width: 13rem;
}

#low-modal {
    background-color: rgba(0, 0, 0, .4);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#low-modal.show {
    display: block;
    z-index: 1;
}

#low-modal-body {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 8px 12px 14px 15px rgba(35 35 35 .15);
    left: 50%;
    width: 475px;
    padding: 30px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 20;
}

.pop-up-card {
    display: block;
    height: 100%;
    width: 100%;
}

.pop-card-head {
    grid-column: span 24;
    grid-row: span 7;
}

.pop-card-head-image {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.pop-card-content-1 {
    align-items: center;
    box-shadow: rgba(0, 0, 0, .04) 0 3px 5px;
/*     display: flex; */
    grid-column: span 24;
    grid-row: span 6;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 14px;
}

.pop-card-store-name {
    font-size: 30px;
}

.pop-card-hash {
    border-radius: 10%;
    flex-flow: row wrap;
    overflow: hidden;
}

.pop-card-hash span {
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
    display: inline-block;
    margin: 4px 2px;
    padding: 5px;
}

.pop-card-content-2 {
    align-items: center;
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0.8rem;
    font-weight: 500;
    grid-column: span 24;
    grid-row: span 6;
    justify-content: space-evenly;
    row-gap: 10px;
}

.pop-card-address {
    font-size: 1.1em;
}

.pop-card-min {
    font-size: .9em;
}

.pop-card-content-3 {
    background: #f8f8ff;
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
    grid-column: span 24;
    grid-row: span 5;
    padding: 10px;
}

.pop-card-code {
    object-fit: cover;
    width: 80%;
}

button.button.close-button {
    bottom: 20px;
    left: 200px;
}

div.tabs {
    background-color: #fff5ee;
    margin-bottom: 0;
}

.modal-content {
    background-image: linear-gradient(120deg, #fdfbfb0, #ebedee 100%);
    border: 4px solid #d3d3d3;
    font-size: xxx-large;
    height: 300px;
    overflow: auto;
    padding: 30px;
    position: fixed;
    width: 1000px;
}

#modal.is-active {
    display: block;
}

.modal-content span {
    font-family: SDSamliphopangche_Outline, sans-serif;
}

.word.is-red {
    color: #ed2f55;
}

.modal {
    align-items: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}

.modal-background {
    background: rgba(10, 10, 10, .86) no-repeat 50% -10rem url(../images/roulette.webp);
}

.is-large.modal-close {
    background: 0 0;
    position: fixed;
    right: 20px;
    top: 20px;
}

#weather-box {
    border-radius: 10px;
    font-size: 14px;
    height: 100px;
    padding: 5px;
    position: sticky;
}

.weather-title {
    background-color: #f0f8ff;
    font-family: SDSamliphopangche_Outline, sans-serif;
    font-size: x-large;
    text-align: center;
}

table.table {
    background-color: transparent;
}

#footer {
    margin: 15px;
    padding: 10px;
}

.footer-img {
    padding-top: 10px;
    width: 50px;
}

.footer-copyright {
    font-size: 10px;
}

#footer.panel.panel-heading {
    font-size: 15px;
    margin-right: 5px;
    padding: 5px 10px;
}

.footer-content {
    font-size: 13px;
    margin: 10px 0 10px 10px;
    padding-bottom: 10px;
}

ul#bookmarks {
    width: 100%;
}

#member-info-box {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#member-info-box, #aside, #weather-box {
    -moz-transform: translate3d(300px, 0, 0);
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transform: translate3d(300px, 0, 0);
    -webkit-transition: all .2s;
    border-radius: 10px;
    position: sticky;
    transform: translate3d(300px, 0, 0);
    transition: all .2s;
    z-index: 10;
}

#member-info-box.open, #aside.open, #weather-box.open {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    overflow: hidden;
    /*padding: 10px 0;*/
    transform: translate3d(0, 0, 0);
}

#login-nick-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-nick {
    color: #000;
    font-weight: 700;
    margin-right: 10px;
}

#profile-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.column-0 {
    display: grid;
    flex: 4;
    grid-column-gap: 10px;
    grid-template-columns:repeat(auto-fit, 31%);
    justify-content: center;
}

.sub-column {
    display: block;
    padding: 30px;
    width: 300px;
}

#column {
    display: grid;
    grid-column-gap: 30px;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media screen and (min-width: 769px) {

    .modal-card, .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
    }
}

@media screen and (max-width: 720px) {

    #column {
        grid-template-columns:repeat(1, 1fr);
    }

    .sub-column {
        display: none;
    }
}

@media screen and (min-width: 720px) {

    #column {
        grid-template-columns:repeat(1, 1fr);
    }
}

@media screen and (min-width: 925px) {

    #column {
        grid-template-columns:repeat(2, 1fr);
    }
}

@media screen and (min-width: 1258px) {

    #column {
        grid-template-columns:repeat(3, 1fr);
    }
}

@media screen and (min-width: 1512px) {

    #column {
        grid-template-columns:repeat(4, 1fr);
    }
}

#column {
    display: grid;
    grid-column-gap: 30px;

}

#recommend-menu {
    text-align: center;

}

#recommend-menu > .let-the-games-begin {
    margin-bottom: 10px;
    font-size: 20px;
}