/*! bulma.io v0.9.3 | MIT License | github.com/jgthms/bulma */
.button,
.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
    position: relative;
    vertical-align: top;
}

.button:active,
.button:focus,
.input:active,
.input:focus,
.is-active.button,
.is-active.input {
    outline: 0;
}

.button[disabled],
.input[disabled] {
    cursor: not-allowed;
}

.button,
.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block:not(:last-child),
.box:not(:last-child),
.content:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;
}

.delete::after,
.delete::before {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.delete::before {
    height: 2px;
    width: 50%;
}

.delete::after {
    height: 50%;
    width: 2px;
}

.delete:focus,
.delete:hover {
    background-color: rgba(10, 10, 10, 0.3);
}

.delete:active {
    background-color: rgba(10, 10, 10, 0.4);
}

.is-small.delete {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img,
.modal,
.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
body,
dd,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
li,
p,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

ul {
    list-style: none;
}

button,
input {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

td:not([align]),
th:not([align]) {
    text-align: inherit;
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

aside,
figure,
footer,
header {
    display: block;
}

code {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace;
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #363636;
}

code {
    background-color: #f5f5f5;
    color: #da1039;
    font-size: 0.875em;
    font-weight: 400;
    padding: 0.25em 0.5em 0.25em;
}

img {
    height: auto;
    max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: baseline;
}

small {
    font-size: 0.875em;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

table td,
table th {
    vertical-align: top;
}

table td:not([align]),
table th:not([align]) {
    text-align: inherit;
}

table th {
    color: #363636;
}

@-webkit-keyframes spinAround {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

a.box:focus,
a.box:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #485fc7;
}

a.box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #485fc7;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
}

.button .icon,
.button .icon.is-small {
    height: 1.5em;
    width: 1.5em;
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-0.5em - 1px);
    margin-right: 0.25em;
}

.button .icon:last-child:not(:first-child) {
    margin-left: 0.25em;
    margin-right: calc(-0.5em - 1px);
}

.button .icon:first-child:last-child {
    margin-left: calc(-0.5em - 1px);
    margin-right: calc(-0.5em - 1px);
}

.button:hover {
    border-color: #b5b5b5;
    color: #363636;
}

.button:focus {
    border-color: #485fc7;
    color: #363636;
}

.button:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.button.is-active,
.button:active {
    border-color: #4a4a4a;
    color: #363636;
}

.button.is-text {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: underline;
}

.button.is-text:focus,
.button.is-text:hover {
    background-color: #f5f5f5;
    color: #363636;
}

.button.is-text.is-active,
.button.is-text:active {
    background-color: #e8e8e8;
    color: #363636;
}

.button.is-text[disabled] {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.button.is-black {
    background-color: #0a0a0a;
    border-color: transparent;
    color: #fff;
}

.button.is-black:hover {
    background-color: #040404;
    border-color: transparent;
    color: #fff;
}

.button.is-black:focus {
    border-color: transparent;
    color: #fff;
}

.button.is-black:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.button.is-black.is-active,
.button.is-black:active {
    background-color: #000;
    border-color: transparent;
    color: #fff;
}

.button.is-black[disabled] {
    background-color: #0a0a0a;
    border-color: transparent;
    box-shadow: none;
}

.button.is-black.is-outlined {
    background-color: transparent;
    border-color: #0a0a0a;
    color: #0a0a0a;
}

.button.is-black.is-outlined:focus,
.button.is-black.is-outlined:hover {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    color: #fff;
}

.button.is-black.is-outlined[disabled] {
    background-color: transparent;
    border-color: #0a0a0a;
    box-shadow: none;
    color: #0a0a0a;
}

.button.is-light {
    background-color: #f5f5f5;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-light:hover {
    background-color: #eee;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-light:focus {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-light:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.button.is-light.is-active,
.button.is-light:active {
    background-color: #e8e8e8;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-light[disabled] {
    background-color: #f5f5f5;
    border-color: transparent;
    box-shadow: none;
}

.button.is-light.is-outlined {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #f5f5f5;
}

.button.is-light.is-outlined:focus,
.button.is-light.is-outlined:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-light.is-outlined[disabled] {
    background-color: transparent;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #f5f5f5;
}

.button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: #fff;
}

.button.is-dark:hover {
    background-color: #2f2f2f;
    border-color: transparent;
    color: #fff;
}

.button.is-dark:focus {
    border-color: transparent;
    color: #fff;
}

.button.is-dark:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.button.is-dark.is-active,
.button.is-dark:active {
    background-color: #292929;
    border-color: transparent;
    color: #fff;
}

.button.is-dark[disabled] {
    background-color: #363636;
    border-color: transparent;
    box-shadow: none;
}

.button.is-dark.is-outlined {
    background-color: transparent;
    border-color: #363636;
    color: #363636;
}

.button.is-dark.is-outlined:focus,
.button.is-dark.is-outlined:hover {
    background-color: #363636;
    border-color: #363636;
    color: #fff;
}

.button.is-dark.is-outlined[disabled] {
    background-color: transparent;
    border-color: #363636;
    box-shadow: none;
    color: #363636;
}

.button.is-link {
    background-color: #485fc7;
    border-color: transparent;
    color: #fff;
}

.button.is-link:hover {
    background-color: #3e56c4;
    border-color: transparent;
    color: #fff;
}

.button.is-link:focus {
    border-color: transparent;
    color: #fff;
}

.button.is-link:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.button.is-link.is-active,
.button.is-link:active {
    background-color: #3a51bb;
    border-color: transparent;
    color: #fff;
}

.button.is-link[disabled] {
    background-color: #485fc7;
    border-color: transparent;
    box-shadow: none;
}

.button.is-link.is-outlined {
    background-color: transparent;
    border-color: #485fc7;
    color: #485fc7;
}

.button.is-link.is-outlined:focus,
.button.is-link.is-outlined:hover {
    background-color: #485fc7;
    border-color: #485fc7;
    color: #fff;
}

.button.is-link.is-outlined[disabled] {
    background-color: transparent;
    border-color: #485fc7;
    box-shadow: none;
    color: #485fc7;
}

.button.is-link.is-light {
    background-color: #eff1fa;
    color: #3850b7;
}

.button.is-link.is-light:hover {
    background-color: #e6e9f7;
    border-color: transparent;
    color: #3850b7;
}

.button.is-link.is-light.is-active,
.button.is-link.is-light:active {
    background-color: #dce0f4;
    border-color: transparent;
    color: #3850b7;
}

.button.is-warning {
    background-color: #f1c40f;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:hover {
    background-color: #ffdc7d;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(255, 224, 138, 0.25);
}

.button.is-warning.is-active,
.button.is-warning:active {
    background-color: #ffd970;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning[disabled] {
    background-color: #f1c40f;
    border-color: transparent;
    box-shadow: none;
}

.button.is-warning.is-outlined {
    background-color: transparent;
    border-color: #f1c40f;
    color: #f1c40f;
}

.button.is-warning.is-outlined:focus,
.button.is-warning.is-outlined:hover {
    background-color: #f1c40f;
    border-color: #f1c40f;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning.is-outlined[disabled] {
    background-color: transparent;
    border-color: #f1c40f;
    box-shadow: none;
    color: #f1c40f;
}

.button.is-warning.is-light {
    background-color: #fffaeb;
    color: #946c00;
}

.button.is-warning.is-light:hover {
    background-color: #fff6de;
    border-color: transparent;
    color: #946c00;
}

.button.is-warning.is-light.is-active,
.button.is-warning.is-light:active {
    background-color: #fff3d1;
    border-color: transparent;
    color: #946c00;
}

.button.is-small {
    font-size: 0.75rem;
}

.button.is-small:not(.is-rounded) {
    border-radius: 2px;
}

.button[disabled] {
    background-color: #fff;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: 0.5;
}

.button.is-static {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    color: #7a7a7a;
    box-shadow: none;
    pointer-events: none;
}

.button.is-rounded {
    border-radius: 9999px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buttons .button {
    margin-bottom: 0.5rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 0.5rem;
}

.buttons:last-child {
    margin-bottom: -0.5rem;
}

.buttons:not(:last-child) {
    margin-bottom: 1rem;
}

.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large) {
    font-size: 0.75rem;
}

.buttons.are-small
.button:not(.is-normal):not(.is-medium):not(.is-large):not(.is-rounded) {
    border-radius: 2px;
}

.buttons.has-addons .button:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.buttons.has-addons .button:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px;
}

.buttons.has-addons .button:last-child {
    margin-right: 0;
}

.buttons.has-addons .button:hover {
    z-index: 2;
}

.buttons.has-addons .button.is-active,
.buttons.has-addons .button:active,
.buttons.has-addons .button:focus {
    z-index: 3;
}

.buttons.has-addons .button.is-active:hover,
.buttons.has-addons .button:active:hover,
.buttons.has-addons .button:focus:hover {
    z-index: 4;
}

.buttons.is-centered {
    justify-content: center;
}

.buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.buttons.is-right {
    justify-content: flex-end;
}

.buttons.is-right:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
        max-width: 1152px;
    }
}

@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1100px;
    }
}

.content li + li {
    margin-top: 0.25em;
}

.content p:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
    margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
    margin-top: 1em;
}

.content h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
    margin-top: 1.1428em;
}

.content h3 {
    font-size: 1.5em;
    margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
    margin-top: 1.3333em;
}

.content h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
}

.content h5 {
    font-size: 1.125em;
    margin-bottom: 0.8888em;
}

.content h6 {
    font-size: 1em;
    margin-bottom: 1em;
}

.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}

.content ul ul {
    list-style-type: circle;
    margin-top: 0.5em;
}

.content ul ul ul {
    list-style-type: square;
}

.content dd {
    margin-left: 2em;
}

.content figure {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}

.content figure:not(:first-child) {
    margin-top: 2em;
}

.content figure:not(:last-child) {
    margin-bottom: 2em;
}

.content figure img {
    display: inline-block;
}

.content table {
    width: 100%;
}

.content table td,
.content table th {
    border: 0 solid #dbdbdb;
    border-bottom-width: 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
}

.content table th {
    color: #363636;
}

.content table th:not([align]) {
    text-align: inherit;
}

.content table thead td,
.content table thead th {
    border-width: 0 0 2px;
    color: #363636;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
    border-bottom-width: 0;
}

.content .tabs li + li {
    margin-top: 0;
}

.content.is-small {
    font-size: 0.75rem;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icon.is-small {
    height: 1rem;
    width: 1rem;
}

.icon-text {
    align-items: flex-start;
    color: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 1.5rem;
    vertical-align: top;
}

.icon-text .icon {
    flex-grow: 0;
    flex-shrink: 0;
}

.icon-text .icon:not(:last-child) {
    margin-right: 0.25em;
}

.icon-text .icon:not(:first-child) {
    margin-left: 0.25em;
}

div.icon-text {
    display: flex;
}

.image {
    display: block;
    position: relative;
}

.image img {
    display: block;
    height: auto;
    width: 100%;
}

.image img.is-rounded {
    border-radius: 9999px;
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img {
    height: 100%;
    width: 100%;
}

.image.is-1by1 {
    padding-top: 100%;
}

.image.is-5by4 {
    padding-top: 80%;
}

.image.is-4by3 {
    padding-top: 75%;
}

.image.is-3by2 {
    padding-top: 66.6666%;
}

.image.is-5by3 {
    padding-top: 60%;
}

.image.is-16by9 {
    padding-top: 56.25%;
}

.image.is-2by1 {
    padding-top: 50%;
}

.image.is-3by1 {
    padding-top: 33.3333%;
}

.image.is-4by5 {
    padding-top: 125%;
}

.image.is-3by4 {
    padding-top: 133.3333%;
}

.image.is-2by3 {
    padding-top: 150%;
}

.image.is-3by5 {
    padding-top: 166.6666%;
}

.image.is-9by16 {
    padding-top: 177.7777%;
}

.image.is-1by2 {
    padding-top: 200%;
}

.image.is-1by3 {
    padding-top: 300%;
}

.image.is-16x16 {
    height: 16px;
    width: 16px;
}

.image.is-24x24 {
    height: 24px;
    width: 24px;
}

.image.is-32x32 {
    height: 32px;
    width: 32px;
}

.image.is-48x48 {
    height: 48px;
    width: 48px;
}

.image.is-64x64 {
    height: 64px;
    width: 64px;
}

.image.is-96x96 {
    height: 96px;
    width: 96px;
}

.image.is-128x128 {
    height: 128px;
    width: 128px;
}

@-webkit-keyframes moveIndeterminate {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}

@keyframes moveIndeterminate {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}

.table {
    background-color: #fff;
    color: #363636;
}

.table td,
.table th {
    border: 0 solid #dbdbdb;
    border-bottom-width: 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
}

.table td.is-black,
.table th.is-black {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    color: #fff;
}

.table td.is-light,
.table th.is-light {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
}

.table td.is-dark,
.table th.is-dark {
    background-color: #363636;
    border-color: #363636;
    color: #fff;
}

.table td.is-link,
.table th.is-link {
    background-color: #485fc7;
    border-color: #485fc7;
    color: #fff;
}

.table td.is-warning,
.table th.is-warning {
    background-color: #f1c40f;
    border-color: #f1c40f;
    color: rgba(0, 0, 0, 0.7);
}

.table td.is-narrow,
.table th.is-narrow {
    white-space: nowrap;
    width: 1%;
}

.table th {
    color: #363636;
}

.table th:not([align]) {
    text-align: inherit;
}

.table thead {
    background-color: transparent;
}

.table thead td,
.table thead th {
    border-width: 0 0 2px;
    color: #363636;
}

.table tbody {
    background-color: transparent;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
    border-bottom-width: 0;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #fafafa;
}

.table.is-narrow td,
.table.is-narrow th {
    padding: 0.25em 0.5em;
}

.table-container {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
}

.tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

.tag:not(body) .delete {
    margin-left: 0.25rem;
    margin-right: -0.375rem;
}

.tag:not(body).is-white {
    background-color: #fff;
    color: #0a0a0a;
}

.tag:not(body).is-black {
    background-color: #0a0a0a;
    color: #fff;
}

.tag:not(body).is-light {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
}

.tag:not(body).is-dark {
    background-color: #363636;
    color: #fff;
}

.tag:not(body).is-primary {
    background-color: #00d1b2;
    color: #fff;
}

.tag:not(body).is-primary.is-light {
    background-color: #ebfffc;
    color: #00947e;
}

.tag:not(body).is-link {
    background-color: #485fc7;
    color: #fff;
}

.tag:not(body).is-link.is-light {
    background-color: #eff1fa;
    color: #3850b7;
}

.tag:not(body).is-info {
    background-color: #3e8ed0;
    color: #fff;
}

.tag:not(body).is-info.is-light {
    background-color: #eff5fb;
    color: #296fa8;
}

.tag:not(body).is-success {
    background-color: #48c78e;
    color: #fff;
}

.tag:not(body).is-success.is-light {
    background-color: #effaf5;
    color: #257953;
}

.tag:not(body).is-warning {
    background-color: #f1c40f;
    color: rgba(0, 0, 0, 0.7);
}

.tag:not(body).is-warning.is-light {
    background-color: #fffaeb;
    color: #946c00;
}

.tag:not(body).is-danger {
    background-color: #f14668;
    color: #fff;
}

.tag:not(body).is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35;
}

.tag:not(body).is-normal {
    font-size: 0.75rem;
}

.tag:not(body).is-medium {
    font-size: 1rem;
}

.tag:not(body).is-large {
    font-size: 1.25rem;
}

.tag:not(body) .icon:first-child:not(:last-child) {
    margin-left: -0.375em;
    margin-right: 0.1875em;
}

.tag:not(body) .icon:last-child:not(:first-child) {
    margin-left: 0.1875em;
    margin-right: -0.375em;
}

.tag:not(body) .icon:first-child:last-child {
    margin-left: -0.375em;
    margin-right: -0.375em;
}

.tag:not(body).is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}

.tag:not(body).is-delete::after,
.tag:not(body).is-delete::before {
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.tag:not(body).is-delete::before {
    height: 1px;
    width: 50%;
}

.tag:not(body).is-delete::after {
    height: 50%;
    width: 1px;
}

.tag:not(body).is-delete:focus,
.tag:not(body).is-delete:hover {
    background-color: #e8e8e8;
}

.tag:not(body).is-delete:active {
    background-color: #dbdbdb;
}

.tag:not(body).is-rounded {
    border-radius: 9999px;
}

a.tag:hover {
    text-decoration: underline;
}

.title {
    word-break: break-word;
}

.title span {
    font-weight: inherit;
}

.title .tag {
    vertical-align: middle;
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.title.is-1 {
    font-size: 3rem;
}

.title.is-2 {
    font-size: 2.5rem;
}

.title.is-3 {
    font-size: 2rem;
}

.title.is-4 {
    font-size: 1.5rem;
}

.title.is-5 {
    font-size: 1.25rem;
}

.title.is-6 {
    font-size: 1rem;
}

.title.is-7 {
    font-size: 0.75rem;
}

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.input {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
}

.input::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.input::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.input:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.input:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.input:hover {
    border-color: #b5b5b5;
}

.input:active,
.input:focus,
.is-active.input {
    border-color: #485fc7;
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.input[disabled] {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a;
}

.input[disabled]::-moz-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.input[disabled]::-webkit-input-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.input[disabled]:-moz-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.input[disabled]:-ms-input-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.input {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 100%;
}

.input[readonly] {
    box-shadow: none;
}

.is-black.input {
    border-color: #0a0a0a;
}

.is-black.input:active,
.is-black.input:focus,
.is-black.is-active.input {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-light.input {
    border-color: #f5f5f5;
}

.is-light.input:active,
.is-light.input:focus,
.is-light.is-active.input {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-dark.input {
    border-color: #363636;
}

.is-dark.input:active,
.is-dark.input:focus,
.is-dark.is-active.input {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-link.input {
    border-color: #485fc7;
}

.is-link.input:active,
.is-link.input:focus,
.is-link.is-active.input {
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.is-warning.input {
    border-color: #f1c40f;
}

.is-warning.input:active,
.is-warning.input:focus,
.is-warning.is-active.input {
    box-shadow: 0 0 0 0.125em rgba(255, 224, 138, 0.25);
}

.is-small.input {
    border-radius: 2px;
    font-size: 0.75rem;
}

.is-inline.input {
    display: inline;
    width: auto;
}

.input.is-rounded {
    border-radius: 9999px;
    padding-left: calc(calc(0.75em - 1px) + 0.375em);
    padding-right: calc(calc(0.75em - 1px) + 0.375em);
}

.input.is-static {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}

.label.is-small {
    font-size: 0.75rem;
}

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}

.field.has-addons {
    display: flex;
    justify-content: flex-start;
}

.field.has-addons .control:not(:last-child) {
    margin-right: -1px;
}

.field.has-addons .control:not(:first-child):not(:last-child) .button,
.field.has-addons .control:not(:first-child):not(:last-child) .input {
    border-radius: 0;
}

.field.has-addons .control:first-child:not(:only-child) .button,
.field.has-addons .control:first-child:not(:only-child) .input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.field.has-addons .control:last-child:not(:only-child) .button,
.field.has-addons .control:last-child:not(:only-child) .input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.field.has-addons .control .button:not([disabled]).is-hovered,
.field.has-addons .control .button:not([disabled]):hover,
.field.has-addons .control .input:not([disabled]).is-hovered,
.field.has-addons .control .input:not([disabled]):hover {
    z-index: 2;
}

.field.has-addons .control .button:not([disabled]).is-active,
.field.has-addons .control .button:not([disabled]).is-focused,
.field.has-addons .control .button:not([disabled]):active,
.field.has-addons .control .button:not([disabled]):focus,
.field.has-addons .control .input:not([disabled]).is-active,
.field.has-addons .control .input:not([disabled]).is-focused,
.field.has-addons .control .input:not([disabled]):active,
.field.has-addons .control .input:not([disabled]):focus {
    z-index: 3;
}

.field.has-addons .control .button:not([disabled]).is-active:hover,
.field.has-addons .control .button:not([disabled]).is-focused:hover,
.field.has-addons .control .button:not([disabled]):active:hover,
.field.has-addons .control .button:not([disabled]):focus:hover,
.field.has-addons .control .input:not([disabled]).is-active:hover,
.field.has-addons .control .input:not([disabled]).is-focused:hover,
.field.has-addons .control .input:not([disabled]):active:hover,
.field.has-addons .control .input:not([disabled]):focus:hover {
    z-index: 4;
}

.field.has-addons.has-addons-centered {
    justify-content: center;
}

.field.has-addons.has-addons-right {
    justify-content: flex-end;
}

.field-label .label {
    font-size: inherit;
}

@media screen and (max-width: 768px) {
    .field-label {
        margin-bottom: 0.5rem;
    }
}

@media screen and (min-width: 769px), print {
    .field-label {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 1.5rem;
        text-align: right;
    }

    .field-label.is-small {
        font-size: 0.75rem;
        padding-top: 0.375em;
    }
}

.field-body .field .field {
    margin-bottom: 0;
}

@media screen and (min-width: 769px), print {
    .field-body {
        display: flex;
        flex-basis: 0;
        flex-grow: 5;
        flex-shrink: 1;
    }

    .field-body .field {
        margin-bottom: 0;
    }

    .field-body > .field {
        flex-shrink: 1;
    }

    .field-body > .field:not(.is-narrow) {
        flex-grow: 1;
    }

    .field-body > .field:not(:last-child) {
        margin-right: 0.75rem;
    }
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.card {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.card-content:first-child,
.card-footer:first-child,
.card-header:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-content:last-child,
.card-footer:last-child,
.card-header:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-header {
    background-color: transparent;
    align-items: stretch;
    box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
    display: flex;
}

.card-header-title {
    align-items: center;
    color: #363636;
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem 1rem;
}

.card-header-title.is-centered {
    justify-content: center;
}

.card-header-icon {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    color: currentColor;
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.75rem 1rem;
}

.card-image {
    display: block;
    position: relative;
}

.card-image:first-child img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-image:last-child img {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-content {
    background-color: transparent;
    padding: 1.5rem;
}

.card-footer {
    background-color: transparent;
    border-top: 1px solid #ededed;
    align-items: stretch;
    display: flex;
}

.menu {
    font-size: 1rem;
}

.menu.is-small {
    font-size: 0.75rem;
}

.menu-list {
    line-height: 1.25;
}

.menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em;
}

.menu-list a:hover {
    background-color: #f5f5f5;
    color: #363636;
}

.menu-list a.is-active {
    background-color: #485fc7;
    color: #fff;
}

.menu-list li ul {
    border-left: 1px solid #dbdbdb;
    margin: 0.75em;
    padding-left: 0.75em;
}

.menu-label {
    color: #7a7a7a;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.menu-label:not(:first-child) {
    margin-top: 1em;
}

.menu-label:not(:last-child) {
    margin-bottom: 1em;
}

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}

.modal.is-active {
    display: flex;
}

.modal-background {
    background-color: rgba(10, 10, 10, 0.86);
}

.modal-card,
.modal-content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 769px) {
    .modal-card,
    .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px;
    }
}

.modal-card {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    -ms-overflow-y: visible;
}

.modal-card-head {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}

.modal-card-head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-card-title {
    color: #363636;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}

.panel {
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
    font-size: 1rem;
}

.panel:not(:last-child) {
    margin-bottom: 1.5rem;
}

.panel.is-black .panel-heading {
    background-color: #0a0a0a;
    color: #fff;
}

.panel.is-black .panel-tabs a.is-active {
    border-bottom-color: #0a0a0a;
}

.panel.is-black .panel-block.is-active .panel-icon {
    color: #0a0a0a;
}

.panel.is-light .panel-heading {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
}

.panel.is-light .panel-tabs a.is-active {
    border-bottom-color: #f5f5f5;
}

.panel.is-light .panel-block.is-active .panel-icon {
    color: #f5f5f5;
}

.panel.is-dark .panel-heading {
    background-color: #363636;
    color: #fff;
}

.panel.is-dark .panel-tabs a.is-active {
    border-bottom-color: #363636;
}

.panel.is-dark .panel-block.is-active .panel-icon {
    color: #363636;
}

.panel.is-link .panel-heading {
    background-color: #485fc7;
    color: #fff;
}

.panel.is-link .panel-tabs a.is-active {
    border-bottom-color: #485fc7;
}

.panel.is-link .panel-block.is-active .panel-icon {
    color: #485fc7;
}

.panel.is-warning .panel-heading {
    background-color: #fee08a;
    color: #fff;
    text-align: -webkit-center;
}

.panel.is-warning .panel-tabs a.is-active {
    border-bottom-color: #f1c40f;
}

.panel.is-warning .panel-block.is-active .panel-icon {
    color: #f1c40f;
}

.panel-block:not(:last-child),
.panel-tabs:not(:last-child) {
    border-bottom: 1px solid #ededed;
}

.panel-heading {
    background-color: #ededed;
    border-radius: 6px 6px 0 0;
    color: #363636;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.25;
    padding: 0.75em 1em;
}

.panel-tabs {
    align-items: flex-end;
    display: flex;
    font-size: 0.875em;
    justify-content: center;
}

.panel-tabs a {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: -1px;
    padding: 0.5em;
}

.panel-tabs a.is-active {
    border-bottom-color: #4a4a4a;
    color: #363636;
}

.panel-list a {
    color: #4a4a4a;
}

.panel-list a:hover {
    color: #485fc7;
}

.panel-block {
    align-items: center;
    color: #363636;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em 0.75em;
}

.panel-block input[type="checkbox"] {
    margin-right: 0.75em;
}

.panel-block > .control {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

.panel-block.is-active {
    border-left-color: #485fc7;
    color: #363636;
}

.panel-block.is-active .panel-icon {
    color: #485fc7;
}

.panel-block:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

a.panel-block,
label.panel-block {
    cursor: pointer;
}

a.panel-block:hover,
label.panel-block:hover {
    background-color: #f5f5f5;
}

.panel-icon {
    display: inline-block;
    font-size: 14px;
    height: 1em;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
    width: 1em;
    color: #7a7a7a;
    margin-right: 0.75em;
}

.panel-icon .fa {
    font-size: inherit;
    line-height: inherit;
}

.tabs {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.tabs a {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

.tabs a:hover {
    border-bottom-color: #363636;
    color: #363636;
}

.tabs li {
    display: block;
}

.tabs li.is-active a {
    border-bottom-color: #ed2f55;
    color: #ed2f55;
}

.tabs ul {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}

.tabs ul.is-left {
    padding-right: 0.75em;
}

.tabs ul.is-right {
    justify-content: flex-end;
    padding-left: 0.75em;
}

.tabs .icon:first-child {
    margin-right: 0.5em;
}

.tabs .icon:last-child {
    margin-left: 0.5em;
}

.tabs.is-centered ul {
    justify-content: center;
}

.tabs.is-right ul {
    justify-content: flex-end;
}

.tabs.is-boxed a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.tabs.is-boxed a:hover {
    background-color: #f5f5f5;
    border-bottom-color: #dbdbdb;
}

.tabs.is-boxed li.is-active a {
    background-color: #fff;
    border-color: #dbdbdb;
    border-bottom-color: transparent !important;
}

.tabs.is-small {
    font-size: 0.75rem;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.columns.is-mobile > .column.is-narrow {
    flex: none;
    width: unset;
}

.columns.is-mobile > .column.is-half {
    flex: none;
    width: 50%;
}

.columns.is-mobile > .column.is-one-quarter {
    flex: none;
    width: 25%;
}

.columns.is-mobile > .column.is-0 {
    flex: none;
    width: 0;
}

.columns.is-mobile > .column.is-1 {
    flex: none;
    width: 8.33333%;
}

.columns.is-mobile > .column.is-2 {
    flex: none;
    width: 16.66667%;
}

.columns.is-mobile > .column.is-3 {
    flex: none;
    width: 25%;
}

.columns.is-mobile > .column.is-4 {
    flex: none;
    width: 33.33333%;
}

.columns.is-mobile > .column.is-5 {
    flex: none;
    width: 41.66667%;
}

.columns.is-mobile > .column.is-6 {
    flex: none;
    width: 50%;
}

.columns.is-mobile > .column.is-7 {
    flex: none;
    width: 58.33333%;
}

.columns.is-mobile > .column.is-8 {
    flex: none;
    width: 66.66667%;
}

.columns.is-mobile > .column.is-9 {
    flex: none;
    width: 75%;
}

.columns.is-mobile > .column.is-10 {
    flex: none;
    width: 83.33333%;
}

.columns.is-mobile > .column.is-11 {
    flex: none;
    width: 91.66667%;
}

.columns.is-mobile > .column.is-12 {
    flex: none;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .column.is-narrow-mobile {
        flex: none;
        width: unset;
    }

    .column.is-half-mobile {
        flex: none;
        width: 50%;
    }

    .column.is-one-quarter-mobile {
        flex: none;
        width: 25%;
    }

    .column.is-0-mobile {
        flex: none;
        width: 0;
    }

    .column.is-1-mobile {
        flex: none;
        width: 8.33333%;
    }

    .column.is-2-mobile {
        flex: none;
        width: 16.66667%;
    }

    .column.is-3-mobile {
        flex: none;
        width: 25%;
    }

    .column.is-4-mobile {
        flex: none;
        width: 33.33333%;
    }

    .column.is-5-mobile {
        flex: none;
        width: 41.66667%;
    }

    .column.is-6-mobile {
        flex: none;
        width: 50%;
    }

    .column.is-7-mobile {
        flex: none;
        width: 58.33333%;
    }

    .column.is-8-mobile {
        flex: none;
        width: 66.66667%;
    }

    .column.is-9-mobile {
        flex: none;
        width: 75%;
    }

    .column.is-10-mobile {
        flex: none;
        width: 83.33333%;
    }

    .column.is-11-mobile {
        flex: none;
        width: 91.66667%;
    }

    .column.is-12-mobile {
        flex: none;
        width: 100%;
    }
}

@media screen and (min-width: 769px), print {
    .column.is-narrow {
        flex: none;
        width: unset;
    }

    .column.is-half {
        flex: none;
        width: 50%;
    }

    .column.is-one-quarter {
        flex: none;
        width: 25%;
    }

    .column.is-0 {
        flex: none;
        width: 0;
    }

    .column.is-1 {
        flex: none;
        width: 8.33333%;
    }

    .column.is-2 {
        flex: none;
        width: 16.66667%;
    }

    .column.is-3 {
        flex: none;
        width: 25%;
    }

    .column.is-4 {
        flex: none;
        width: 33.33333%;
    }

    .column.is-5 {
        flex: none;
        width: 41.66667%;
    }

    .column.is-6 {
        flex: none;
        width: 50%;
    }

    .column.is-7 {
        flex: none;
        width: 58.33333%;
    }

    .column.is-8 {
        flex: none;
        width: 66.66667%;
    }

    .column.is-9 {
        flex: none;
        width: 75%;
    }

    .column.is-10 {
        flex: none;
        width: 83.33333%;
    }

    .column.is-11 {
        flex: none;
        width: 91.66667%;
    }

    .column.is-12 {
        flex: none;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .column.is-narrow-desktop {
        flex: none;
        width: unset;
    }

    .column.is-half-desktop {
        flex: none;
        width: 50%;
    }

    .column.is-one-quarter-desktop {
        flex: none;
        width: 25%;
    }

    .column.is-0-desktop {
        flex: none;
        width: 0;
    }

    .column.is-1-desktop {
        flex: none;
        width: 8.33333%;
    }

    .column.is-2-desktop {
        flex: none;
        width: 16.66667%;
    }

    .column.is-3-desktop {
        flex: none;
        width: 25%;
    }

    .column.is-4-desktop {
        flex: none;
        width: 33.33333%;
    }

    .column.is-5-desktop {
        flex: none;
        width: 41.66667%;
    }

    .column.is-6-desktop {
        flex: none;
        width: 50%;
    }

    .column.is-7-desktop {
        flex: none;
        width: 58.33333%;
    }

    .column.is-8-desktop {
        flex: none;
        width: 66.66667%;
    }

    .column.is-9-desktop {
        flex: none;
        width: 75%;
    }

    .column.is-10-desktop {
        flex: none;
        width: 83.33333%;
    }

    .column.is-11-desktop {
        flex: none;
        width: 91.66667%;
    }

    .column.is-12-desktop {
        flex: none;
        width: 100%;
    }
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.columns:last-child {
    margin-bottom: -0.75rem;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
}

.columns.is-centered {
    justify-content: center;
}

.columns.is-mobile {
    display: flex;
}

@media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-desktop {
        display: flex;
    }
}

.has-text-black {
    color: #0a0a0a !important;
}

a.has-text-black:focus,
a.has-text-black:hover {
    color: #000 !important;
}

.has-background-black {
    background-color: #0a0a0a !important;
}

.has-text-light {
    color: #f5f5f5 !important;
}

a.has-text-light:focus,
a.has-text-light:hover {
    color: #dbdbdb !important;
}

.has-background-light {
    background-color: #f5f5f5 !important;
}

.has-text-dark {
    color: #363636 !important;
}

a.has-text-dark:focus,
a.has-text-dark:hover {
    color: #1c1c1c !important;
}

.has-background-dark {
    background-color: #363636 !important;
}

.has-text-link {
    color: #485fc7 !important;
}

a.has-text-link:focus,
a.has-text-link:hover {
    color: #3449a8 !important;
}

.has-background-link {
    background-color: #485fc7 !important;
}

.has-text-link-light {
    color: #eff1fa !important;
}

a.has-text-link-light:focus,
a.has-text-link-light:hover {
    color: #c8cfee !important;
}

.has-background-link-light {
    background-color: #eff1fa !important;
}

.has-text-link-dark {
    color: #3850b7 !important;
}

a.has-text-link-dark:focus,
a.has-text-link-dark:hover {
    color: #576dcb !important;
}

.has-background-link-dark {
    background-color: #3850b7 !important;
}

.has-text-warning {
    color: #f1c40f !important;
}

a.has-text-warning:focus,
a.has-text-warning:hover {
    color: #ffd257 !important;
}

.has-background-warning {
    background-color: #f1c40f !important;
}

.has-text-warning-light {
    color: #fffaeb !important;
}

a.has-text-warning-light:focus,
a.has-text-warning-light:hover {
    color: #ffecb8 !important;
}

.has-background-warning-light {
    background-color: #fffaeb !important;
}

.has-text-warning-dark {
    color: #946c00 !important;
}

a.has-text-warning-dark:focus,
a.has-text-warning-dark:hover {
    color: #c79200 !important;
}

.has-background-warning-dark {
    background-color: #946c00 !important;
}

.is-relative {
    position: relative !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 0.75rem !important;
}

.m-4 {
    margin: 1rem !important;
}

.m-5 {
    margin: 1.5rem !important;
}

.m-6 {
    margin: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.p-0 {
    padding: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.p-3 {
    padding: 0.75rem !important;
}

.px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.p-4 {
    padding: 1rem !important;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.p-5 {
    padding: 1.5rem !important;
}

.px-5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.p-6 {
    padding: 3rem !important;
}

.px-6 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.p-auto {
    padding: auto !important;
}

.px-auto {
    padding-left: auto !important;
    padding-right: auto !important;
}

.has-text-centered {
    text-align: center !important;
}

.has-text-left {
    text-align: left !important;
}

.has-text-right {
    text-align: right !important;
}

@media screen and (max-width: 768px) {
    .has-text-centered-mobile {
        text-align: center !important;
    }
}

@media screen and (min-width: 1024px) {
    .has-text-centered-desktop {
        text-align: center !important;
    }
}

@media screen and (max-width: 768px) {
    .has-text-left-mobile {
        text-align: left !important;
    }
}

@media screen and (min-width: 1024px) {
    .has-text-left-desktop {
        text-align: left !important;
    }
}

@media screen and (max-width: 768px) {
    .has-text-right-mobile {
        text-align: right !important;
    }
}

@media screen and (min-width: 1024px) {
    .has-text-right-desktop {
        text-align: right !important;
    }
}

.is-block {
    display: block !important;
}

@media screen and (max-width: 768px) {
    .is-block-mobile {
        display: block !important;
    }
}

@media screen and (min-width: 1024px) {
    .is-block-desktop {
        display: block !important;
    }
}

.is-inline {
    display: inline !important;
}

@media screen and (max-width: 768px) {
    .is-inline-mobile {
        display: inline !important;
    }
}

@media screen and (min-width: 1024px) {
    .is-inline-desktop {
        display: inline !important;
    }
}

.is-inline-block {
    display: inline-block !important;
}

@media screen and (max-width: 768px) {
    .is-inline-block-mobile {
        display: inline-block !important;
    }
}

@media screen and (min-width: 1024px) {
    .is-inline-block-desktop {
        display: inline-block !important;
    }
}

.is-hidden {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .is-hidden-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) {
    .is-hidden-desktop {
        display: none !important;
    }
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem;
}

.card {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    margin: 10px 0;
}

.food-card {
    background-image: linear-gradient(120deg, #fdfbfb 60%, #ebedee 100%);
    padding: 10px 0 10px;
    width: 300px;
    border-radius: 10px;
    margin: 20px auto;
    transition-duration: 185ms;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

.food-card:hover {
    transform: translate(0, -0.5em);
}

.food-image {
    transition-duration: 185ms;
    transition-timing-function: ease-in-out;
    transition-property: width, height;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-image:hover {
    height: 200px;
}

.card-image:first-child img.food-image {
    border-radius: 0.5rem;
}

.image-box {
    position: relative;
    align-self: flex-start;
    width: auto;
    height: 180px;
    overflow: hidden;
}

.book-mark {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 7px;
    padding: 7px;
}

.book-button {
    padding: 8px;
    border: 1px solid #f5f5f5;
    background-color: rgba(0, 0, 0, 0);
}

.store_name {
    display: flex;
    justify-self: flex-start;
    margin-left: 10px;
    padding: 10px;
    font-family: Hanna, sans-serif;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0 10px;
    padding: 10px;
    font-family: Hanna, sans-serif;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-right: 3px;
    padding-left: 6px;
    border-left: 1px solid #ededed;
}

.reviews-count {
    margin-bottom: 5px;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.btn-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
}

.btn-up-position {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition-duration: 0.25s;
    transition-property: all;
}

.btn-up-position:hover {
    top: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    background: #fff;
}

.btn-up-position > a:link {
    color: #3488ce;
}

.btn-up-position > a:visited {
    color: #3488ce;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition-duration: 0.25s;
    transition-property: all;
}

.btn-up-position:hover {
    top: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    background: #fff;
}

.btn-up-position > a:link {
    color: #3488ce;
}

.btn-up-position > a:visited {
    color: #3488ce;
}

* {
    font-family: Hanna, sans-serif;
}

body {
    width: 100vmax;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    box-sizing: border-box !important;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 250px;
    background-color: #ffebcd;
    background-size: cover;
    background-repeat: repeat-x;
    background-image: url(../images/lucian-alexe.jpg);
}

.header > h1.title {
    font-family: "Black Han Sans", sans-serif;
    text-shadow: 4px 4px 0 #8b4513;
    font-size: 70px;
    color: #deb887;
    margin-bottom: 0;
}

div.container {
    padding: 20px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

div.control {
    min-width: 200px;
    width: 300px;
    display: inline-flex;
}

.columns.is-max-desktop.is-mobile {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

button.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    background-color: #fff;
}

div.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: unset;
}

.button.is-warning {
    background-color: #ffe08a;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-right: 0.5rem;
}

.button {
    margin-right: 10px;
}

h2.h2 {
    font-size: x-large;
    font-weight: 500;
}

button.button.is-xs {
    background-color: #ed2f55;
    border-color: transparent;
    color: #fff;
    border-radius: 5px;
    font-size: 0.5rem;
    height: 23px;
    margin-left: 20px;
    margin-right: 0;
    text-align: center;
}

.bookmark {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

span.mark-menu {
    width: 8rem;
    overflow: hidden;
    height: 1rem;
    display: inline-block !important;
}

#aside {
    font-size: 14px;
    z-index: 10;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#aside.open {
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#aside {
    border-radius: 10px;
    position: sticky;
    top: 100px;
    right: 300px;
}

#low-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

#low-modal-body {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 8px 12px 14px 15px rgb(34 36 38 / 15%);
    transform: translateX(-50%) translateY(-50%);
}

.pop-up-card {
    width: 100%;
    height: 100%;
    display: block;
}

.pop-card-head {
    grid-column: span 24;
    grid-row: span 7;
}

.pop-card-head-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
}

.pop-card-content-1 {
    grid-column: span 24;
    grid-row: span 6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
    margin: 14px;
}

.pop-card-store-name {
    font-size: 30px;
}

.pop-card-content-2 {
    grid-column: span 24;
    grid-row: span 6;
    font-weight: 500;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.pop-card-min {
    font-size: 0.9em;
}

.pop-card-content-3 {
    grid-column: span 24;
    grid-row: span 5;
    padding: 10px;
    background: #f8f8ff;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.pop-card-code {
    width: 80%;
    object-fit: cover;
}

div.tabs {
    margin-bottom: 0;
    background-color: #fff5ee;
}

@media screen and (min-width: 769px) {
    .modal-card,
    .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px;
    }
}

.modal-content {
    overflow: auto;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    z-index: 3;
    width: 1000px;
    height: 300px;
    max-height: calc(100vh - 160px);
    margin: 0 20px;
    padding: 30px;
    top: 40%;
    left: 23%;
    border: 4px solid #d3d3d3;
    border-bottom: 3px solid #000;
    background-color: #fff5ee;
    background-image: linear-gradient(120deg, #fdfbfb 0, #ebedee 100%);
}

#modal.is-active {
    display: block;
}

.modal {
    align-items: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}

.modal-background {
    background: rgba(10, 10, 10, 0.86) no-repeat 50% -10%/30rem url(../images/roulette.png);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#weather-box {
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.2s;
    border-radius: 10px;
    position: sticky;
    top: 100px;
    right: 300px;
    font-size: 14px;
    z-index: 10;
    padding: 10px;
}

.weather-title {
    text-align: -webkit-center;
    background-color: #f0f8ff;
}

#footer {
    margin-left: 15px;
    margin-right: 30px;
    padding: 10px;
    flex: none;
    width: 20%;
}

.footer-img {
    width: 50px;
    padding-top: 10px;
}

.footer-copyright {
    font-size: 10px;
}

#footer.panel.panel-heading {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    margin-right: 5px;
}

.footer-content {
    margin: 10px 0 10px 10px;
    font-size: 13px;
    padding-bottom: 10px;
}

ul#bookmarks {
    width: 100%;
}

button.button.close-button {
    top: -15px;
    left: 190px;
}

.pop-card-hash span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
}