* {
    font-family: 'Hanna', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    box-sizing: border-box !important;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 250px;
    background-color: #ffebcd;
    background-size: cover;
    background-repeat: repeat-x;
    background-image: url("../images/lucian-alexe.jpg");
}

.header > h1.title  {
    font-family: 'Jua', sans-serif;
    font-size: 70px;
    color: burlywood;
    margin-bottom: 30px;
}

.name {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}

div.container {
    padding: 20px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    /*max-width: 1200px !important;*/
}

div.control {
    min-width: 200px;
    width: 300px;
    display: inline-flex;
}


.columns.is-max-desktop.is-mobile
.columns:not(.is-desktop) {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    margin: 10px 0;
}

button.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}

div.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: unset;
}

.button.is-warning {
    background-color: #ffe08a;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-right: .5rem;
}

.button {

    margin-right: 10px;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}