body {
  width: 100%;
  height: 100vh;
  margin: 0, auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.header {
  background: #ffebcd;
  grid-column: span 16;
  grid-row: span 2;
}

.name {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}

.left {
  background-color: #ffe4c4;
  grid-column: span 3;
  grid-row: span 6;
}

.content {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5dc;
  padding: 50px;
  grid-column: span 10;
  grid-row: span 6;
}

.content {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: flex-end;
  width: 220px;
  height: 220px;
  background: yellowgreen;
  margin: 25px;
}

.right {
  background-color: #ffe4c4;
  grid-column: span 3;
  grid-row: span 6;
}


