<!DOCTYPE html>
<html lang="en">
<head>
    <title>카카오 로그인하기</title>
    <script>
        window.onload = async () => {
            const params = getURLParams(location.search)
            const {token, providerId, email, nickname} = params
            console.log('providerId',providerId,'email',email,'nickname',nickname)
            document.cookie = `mySmallMealToken=${token};`;
            // uuid 저장 api 호출
            const uuid = localStorage.getItem("delivery-uuid")
            const headers = new Headers();
            headers.append('content-type', 'application/json')
            const body = JSON.stringify({uuid, providerId, email, nickname})
            const init = {method:'POST', headers, body}
            const response = await fetch("/api/kakao/uuid", init)
            console.log(response)
            window.location.href = '/'
        }

        function getURLParams(url) {
            let result = {};
            url.replace(/[?&]{1}([^=&#]+)=([^&#]*)/g, function (s, k, v) {
                result[k] = decodeURIComponent(v);
            });
            return result;
        }
    </script>
</head>
<body>

</body>
</html>