<!DOCTYPE html>
<html lang="en">
<head>
    <title>카카오 로그인하기</title>
    <script>
        window.onload = async () => {
            const params = getURLParams(location.search)
            const {token} = params
            document.cookie = `mySmallMealToken=${token};`;
            window.location.href = "{{ url_for('hello_world') }}"
        }

        function getURLParams(url) {
            let result = {};
            url.replace(/[?&]{1}([^=&#]+)=([^&#]*)/g, function (s, k, v) {
                result[k] = decodeURIComponent(v);
            });
            return result;
        }
    </script>
</head>
<body>

</body>
</html>