{% extends "base.html" %}
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
        <script>
            async function loginBtnClick() {
                let email = document.getElementById("member-email").value
                let pw = document.getElementById("member-pw").value
                const headers = new Headers();
                headers.append('content-type', 'application/json')
                const body = JSON.stringify({email, pw})
                let init = {method: "POST", headers, body}
                let response = await fetch("/api/login", init)
                if (response['result'] === 'success') {
                    // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                    // 이 토큰을 mySmallMealToken 이라는 키 값으로 쿠키에 저장합니다.
                    document.cookie = `mySmallMealToken=${response['token']};`;
                    window.alert('로그인 완료!')
                    window.location.href = '/'
                } else {  // 로그인이 안되면 에러메시지를 띄웁니다.
                    window.alert(response['msg'])
                }
            }
        </script>
        <title>로그인하기</title>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="section has-text-centered">
        <h1 class="title">로그인 페이지</h1>
        <div class="container" style="width:60%">
            <form class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="member-email">EMAIL</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="member-email" autocomplete="false" aria-describedby="emailHelp"
                                   placeholder="My Email">
                        </div>
                    </div>
                </div>
            </form>
            <form class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="member-pw">PW</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input" id="member-pw" autocomplete="false" placeholder="My Password">
                        </div>
                    </div>
                </div>
            </form>
            <button class="button is-primary" onclick="loginBtnClick()">로그인</button>
            {% if env == 'development' %}
                <a class="button is-warning"
                   href="https://kauth.kakao.com/oauth/authorize?client_id=b702be3ada9cbd8f018e7545d0eb4a8d&redirect_uri=http://localhost:5000/redirect&response_type=code">카카오로그인</a>
            {% else %}
                <a class="button is-warning"
                   href="https://kauth.kakao.com/oauth/authorize?client_id=b702be3ada9cbd8f018e7545d0eb4a8d&redirect_uri=https://www.mysmallmeal.shop:8000/redirect&response_type=code">카카오로그인</a>
            {% endif %}

            <a class="button is-success" href="{{ url_for('register') }}">회원가입</a>
        </div>
    </div>
{% endblock %}
</body>
</html>