<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>로그인</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
{#        <link rel="stylesheet" href="{{ url_for('static', filename='css/purify.css') }}">#}
{#        <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- 커스텀 JS! -->
        <script defer rel="script" src="/static/js/login.js"></script>
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    </head>
    <body>
        <div class="section has-text-centered">
            <h1 class="title">로그인 페이지</h1>
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">EMAIL</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="member-email" aria-describedby="emailHelp"
                                       placeholder="My Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="member-pw" placeholder="My Password">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="loginApi()">로그인</button>
                <button class="button is-warning" onclick="kakaoLoginApi('{{ env }}')">카카오로그인</button>
                <button class="button is-success" onclick="registerPage()">회원가입</button>
            </div>
        </div>
    </body>
</html>