<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>회원가입</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
{#        <link rel="stylesheet" href="../static/css/bulma.css">#}
{#        <link rel="stylesheet" href="../static/css/purify.css">#}

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <script>
            // 간단한 회원가입 함수입니다.
            // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
            function login(){
                window.location.href='/login'
            }
            function register() {
                const email = $('#user-email').val()
                const pw = $('#user-pw').val()
                const pwre = $('#user-pw-re').val()
                const nickname = $('#user-nick').val()
                console.log(email,pw,pwre,nickname)
                const regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
                if(email.match(regExp) == null){
                    alert('이메일형식에 맞지 않습니다.')
                    return;
                }
                if(pw.length <= 0){
                    alert('비밀번호를 입력해주세요.')
                    return;
                }
                if(pw != pwre){
                    alert('비밀번호가 일치하지 않습니다.')
                    return;
                }
                if(nickname.length <=0){
                    alert('별명을 입력해주세요.')
                    return;
                }


                $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        email: email,
                        pw: pw,
                        nickname: nickname
                    },
                    success: function (response) {
                        console.log(response)
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')

                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })


            }

        </script>
    </head>
    <body>
        <div class="section has-text-centered">
            <h1 class="title">회원가입 페이지</h1>
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">EMAIL</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="user-email" aria-describedby="emailHelp"
                                       placeholder="My Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="user-pw" placeholder="My Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW RECONFIRM</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="user-pw-re" placeholder="My Password Reconfirm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="usernick">NICKNAME</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="user-nick" placeholder="My Nickname">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="login()">로그인</button>
                <button class="button is-primary" onclick="register()">회원가입</button>
            </div>
        </div>
    </body>
</html>